# Logs
logs
*.log

# Dependency directories
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# mysql
mysql/data/

nginx/certs/

nginx/certbot/etc/archive

nginx/certbot/etc/live

nginx/certbot/etc/renewal

nginx/certbot/etc/renewal-hooks

# Byte-compiled / optimized / DLL files
telegram/python/__pycache__/
telegram/python/handlers/__pycache__/
telegram/python/*.py[cod]
telegram/python/$py.class

# C extensions
telegram/python/*.so

# Distribution / packaging
telegram/python/.Python
telegram/python/build/
telegram/python/develop-eggs/
telegram/python/dist/
telegram/python/downloads/
telegram/python/eggs/
telegram/python/.eggs/
telegram/python/lib/
telegram/python/lib64/
telegram/python/parts/
telegram/python/botenv/

# Installer logs
telegram/python/pip-log.txt
