# Logs
logs
*.log

# Dependency directories
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# mysql
mysql/data/

nginx/certs/

nginx/certbot/etc/archive

nginx/certbot/etc/live

nginx/certbot/etc/renewal

nginx/certbot/etc/renewal-hooks

